@charset "utf-8";
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, a, img, strong, small, dl, dt, dd, ol, ul, li, fieldset, form, input, button, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { padding: 0; margin: 0; font-size: 100%; }
article, aside, figcaption, figure, video, audio, footer, header, hgroup, menu, nav, section { display: block; }
body, input, button, textarea, select, table { line-height: 1.2; font-family: '나눔바른고딕', 'Nanum BarunGothic', 'Malgun Gothic', '맑은 고딕', '돋움', dotum, Helvetica, sans-serif; font-size: 14px; color: #444; }
img, fieldset, button { border: 0; }
ol, ul { list-style: none; }
a { text-decoration: none; color: #4c4c4c; transition: color 0.3s ease; -moz-transition: color 0.3s ease; -o-transition: color 0.3s ease; -webkit-transition: color 0.3s ease; }
a:hover, a:focus, a:active { text-decoration: none; }
img { vertical-align: middle; width: 100%; }
table { border-collapse: collapse; border-spacing: 0; }
caption, legend { width: 0; height: 0; font-size: 0; line-height: 0; text-indent: -9999px; visibility: hidden; }
input { line-height: 100%; vertical-align: middle; }
button, label { cursor: pointer; }
button { background-color: transparent; outline: none; }
button::-moz-focus-inner, input::-moz-focus-inner { padding: 0; border: 0; }
.blind { display: block; overflow: hidden; position: absolute; left: 0; top: 0; width: 1px; height: 1px; font-size: 0; line-height: 0; text-indent: -9999px; }
html, body { overflow: hidden; width: 100%; height: 100%; background-color: #000; }
body { width: 100%; height: 100%; background: url(../images/mobile/bg.jpg) center 0 no-repeat; background-size: cover; }
#wrap { position: relative; width: 100%; text-align: center; visibility: hidden; }
#header { position: fixed; bottom: 0; left: 0; z-index: 500; width: 100%; height: 45px; }
#container { position: relative; left: 50%; width: 640px; margin-left: -320px; margin-top: 0; }
#footer { width: 242px; height: 8px; margin: 50px auto 25px; background: url(../images/mobile/txt_copyright.png) center center no-repeat; background-size: 100% auto; }
#footer p { text-indent: -999999px; }
.logo { position: absolute; top: 22px; left: 50%; margin-left: -85px; z-index: 100; width: 170px; height: 54px; background: url(../images/mobile/logo.png) center center no-repeat; background-size: 100% auto; visibility: hidden; }
.section { position: relative; width: 640px; z-index: 20; }
.section h2 { width: 340px; margin: 0 auto; padding: 178px 0 0 0; }
.section .cont_box { position: relative; z-index: 100; margin: 0 auto; box-sizing: border-box; text-align: center; visibility: hidden; }
.section .btn_play { width: 90px; display: inline-block; padding-top: 3px; }
.section .btn_reg { width: 170px; display: block; margin: 45px auto 0; }
.obj_elf { position: absolute; top: 0; left: 50%; z-index: 5; margin-left: -275px; width: 559.5px; height: 740px; background: url(../images/mobile/obj_elf.png) center center no-repeat; background-size: 100% auto; }
.obj_particle { position: absolute; top: 0; left: 50%; z-index: 10; margin-left: -500px; width: 998.5px; height: 471.5px; background: url(../images/mobile/obj_particle.png) center center no-repeat; background-size: 100% auto; visibility: hidden; }

/*popup video*/
.wrap_main_video { background: #000; width: 90%; max-width: 640px; left: 3%; position: fixed; top: 15%; z-index: 1010; display: none; }
.wrap_main_video .video { width: 100%; position: relative; padding-bottom: 53%; }
.wrap_main_video .video iframe { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
.wrap_v_close .pop_close { top: -35%; }

/*popup*/
.popup_content input[type="checkbox"] { height: 0; width: 0; position: absolute; top: -99999px; left: -99999px; }
.popup { display: none; position: absolute; left: 0; top: 0; z-index: 1001; width: 100%; height: 100%; opacity: 1; }
.popup_layer { position: fixed; width: 100%; height: 100%; background-color: #000; opacity: 0.8; filter: alpha(opacity=80); }
.popup_inner { position: absolute; left: 50%; top: 90px; z-index: 1; width: 320px; margin-left: -160px; }
.popup_content { position: relative; z-index: 3; width: 320px; min-height: 10px; background: #fff; }
.popup_content .pd20 { padding: 20px; }
.popup_content h3 { width: 273px; height: 45px; margin: 10px auto 16px auto; background: url(../images/mobile/popup_title.gif) center center no-repeat; background-size: 100% auto; }
.popup_content .phone { background: #b9b9b9; width: 100%; height: 34px; margin-bottom: 8.5px; }
.popup_content .phone .only_android { float: left; width: 80px; height: 34px; background: #888 url(../images/mobile/txt_onlyandroid.gif) center center no-repeat; background-size: 78% auto; }
.popup_content .phone input { width: 150px; background: #b9b9b9; height: 15.5px; margin: 10px 0 0 8.5px; font-size: 13px; color: #fff; border: none; line-height: 13px; }
.popup_content .phone .inp_bg_on { background: url(../images/mobile/txt_input_bg.gif) right top no-repeat; background-size: 81% auto; }
.popup_content .agreelist li { position: relative; padding-bottom: 5px; }
.popup_content .agreelist .checkbox_label { display: block; width: 98px; height: 11px; background-image: url(../images/mobile/txt_detail_1.gif); background-repeat: no-repeat; background-size: 100% auto; }
.popup_content .agreelist .checkbox_label.checked { background-position: 0 100%; }
.popup_content .agreelist .checkbox_label.txt_2 { background-image: url(../images/mobile/txt_detail_2.gif); }
.popup_content .agreelist .checkbox_label.txt_3 { background-image: url(../images/mobile/txt_detail_3.gif); }
.popup_content .agreelist .view_detail { position: absolute; top: 0; left: 101px; display: inline-block; width: 47px; height: 11px; background-image: url(../images/mobile/txt_detail.gif); background-repeat: no-repeat; background-position: 0 100%; background-size: 100% auto; }
.popup_content .agreelist .view_detail.open { background-position: 0 0; }
.popup_content .detail { display: none; width: 100%; height: 63px; padding: 5px; text-align: left; border: solid 1px #acabab; overflow-x: hidden; overflow-y: auto; font-size: 0.7em; line-height: 120%; color:#7d7778;}
.popup_content .detail strong { display: block; padding-bottom: 1px; color: #199787; }
.popup_content .btn_reg2 { display: block; width: 153px; height: 44.5px; margin: 16.5px auto 0; background-image: url(../images/mobile/btn_reg_2.gif); background-size: 100% auto; }
.popup_content .notice { width: 100%; height: 110px; padding-bottom: 15px; background: #e3e3e3 url(../images/mobile/txt_notice.gif) no-repeat 19.5px 14px; background-size: 88% auto; }
.btn_close { overflow: hidden; position: absolute; top: -37px; right: 5px; width: 30px; height: 30px; margin-left: -33px; background: url(../images/mobile/pop_close.png) center center no-repeat; background-size: 90% auto; text-indent: -9999px; }

/*alret popup*/
.alertPop { display: none; }
.alertPop .popup_content { width: 288px; min-height: 151px; background: url(../images/pc/popup_alert_bg.jpg) center center no-repeat; text-align: center; background-size: cover; }
.alertPop .popup_inner { position: absolute; left: 50%; z-index: 1; width: 288px; margin-left: -144px; }
.alertPop .btn_confirm { display: block; width: 121.5px; height: 35.5px; margin: 17px auto 0; background-image: url(../images/pc/btn_confirm.png); background-size: 100% auto; }
.alertPop .popup_content .pd35 { padding: 35px 0; }
.alertPop .btn_close { display: none; }
.alertPop#msg_1 .comment { display: block; width: 117px; height: 41px; margin: 0 auto; background: url(../images/pc/txt_complete.png) center center no-repeat; background-size: 100% auto; }
.alertPop#msg_1 .extra_comment { display: block; }
.alertPop#msg_2 .comment { display: block; width: 189px; height: 17px; margin: 22.5px auto 25px; background: url(../images/pc/txt_done.png) center center no-repeat; background-size: 100% auto; }
.alertPop#msg_3 .comment { display: block; width: 104.5px; height: 42px; margin: 6px auto 0; background: url(../images/pc/txt_incorrect.png) center center no-repeat; background-size: 100% auto; }
.alertPop#msg_4 .comment { display: block; width: 146.5px; height: 42px; margin: 6px auto 0; background: url(../images/pc/txt_agreefail.png) center center no-repeat; background-size: 100% auto; }
.alertPop#msg_5 .comment { display: block; width: 189px; height: 18.5px; margin: 22.5px auto 25px; background: url(../images/pc/txt_working.png) center center no-repeat; background-size: 100% auto; }
.alertPop#msg_5 .btn_confirm { display: none; }
.alertPop#msg_5 .btn_close { display: block; }
.alertPop .extra_comment { display: none; margin: 12px auto 0; font-size: 10px; letter-spacing: -0.5px; }
.alertPop .extra_comment b { color: #ff0606; font-weight: normal; }
.shadow { display: none; position: fixed; left: 0; right: 0; top: 0; bottom: 0; background-color: rgba(0, 0, 0, 0.9); z-index: 100; overflow: hidden; }
.wrap_main_video .pop_close { top: -30%; left: 50%; margin-left: -20px; display: inline-block; position: absolute; width: 40px; height: 40px; right: 0; background-image: url(../images/mobile/btn_close.png); background-repeat: no-repeat; background-size: 40px auto; }

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    #container { margin-top: 100px; }
    .popup_inner { top: 150px; }
}
